@charset "UTF-8";

// override bootstrap variables
$primary: #2b2e4a;
$secondary: #afc68b;

// $font-size-base: 0.9375rem;
$font-family-sans-serif: 'Montserrat Variable', sans-serif;

// import bootstrap scss
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

// Function to calculate the luminance of a color
// @function calculate-luminance($color) {
//   // Extract the RGB components of the color
//   $r: red($color) / 255;
//   $g: green($color) / 255;
//   $b: blue($color) / 255;

//   // Apply gamma correction
//   $r: if($r <= 0.03928, $r / 12.92, pow(($r + 0.055) / 1.055, 2.4));
//   $g: if($g <= 0.03928, $g / 12.92, pow(($g + 0.055) / 1.055, 2.4));
//   $b: if($b <= 0.03928, $b / 12.92, pow(($b + 0.055) / 1.055, 2.4));

//   // Calculate the luminance
//   @return 0.2126 * $r + 0.7152 * $g + 0.0722 * $b;
// }

// @function best-foreground-color($background-color) {
//   $luminance: calculate-luminance($background-color);

//   // Return white for dark backgrounds and black for light backgrounds
//   @return if($luminance > 0.179, #000000, #ffffff);
// }
