// override bootstrap variables
$primary: #2b2e4a;
$secondary: #afc68b;

// $font-size-base: 0.9375rem;
$font-family-base: 'Inter Variable', sans-serif;
$font-family-sans-serif: $font-family-base;
$headings-font-family: 'Space Grotesk Variable', sans-serif;

// import bootstrap scss
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
// @import 'bootstrap/scss/bootstrap.scss';

.btn {
  font-family: $headings-font-family;
}