@use '$styles/bootstrap.css';

/* Define Variables */
:root {
	--box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
	--text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	--transition: all ease-in-out 0.2s;
	--transition-slow: all ease-in-out 0.35s;
}

/* ## Section default
--------------------------------------------- */
.section {
	display: flex;
	place-items: center;
	padding: 3rem 0;
	min-height: 75svh;
}

@media (min-width: 768px) {
	.section {
		padding-left: 5.5em;
	}
}

.section:nth-child(even) {
	background-color: var(--bs-gray-100);
}
.section:nth-child(odd) {
	background-color: var(--bs-gray-200);
}

[data-bs-theme='dark'] {
	.section:nth-child(even) {
		color: var(--bs-light);
		background-color: var(--bs-gray-900);
	}
	.section:nth-child(odd) {
		color: var(--bs-light);
		background-color: var(--bs-gray-800);
	}
}

.heading-container {
	margin-bottom: 2rem;
}

.section-heading {
	font-weight: 600;
	text-align: center;
	padding-bottom: 1rem;
	position: relative;
}

.section-heading::before {
	content: '';
	position: absolute;
	display: block;
	width: 240px;
	height: 1px;
	background: var(--bs-body-color);
	bottom: 1px;
	left: calc(50% - 120px);
}

.section-heading::after {
	content: '';
	position: absolute;
	display: block;
	width: 80px;
	height: 3px;
	background: var(--bs-body-color);
	bottom: 0;
	left: calc(50% - 40px);
}

.section-copy {
	width: 100%;
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
}

.direction-indicators {
	pointer-events: none;
}

// BUTTONS ---------------------------
.btn {
	box-shadow:
		inset 0 -2px 0 rgba(0, 0, 0, 0.3),
		1px 1px 2px 0 rgba(0, 0, 0, 0.3);
	font-weight: 600;
	padding: 1rem 1.5rem;
	text-transform: uppercase;
	transition: all ease-in-out 0.1s;
	letter-spacing: 1px;
	line-height: 1;

	&.btn-icon {
		line-height: 0;
		padding: 0.5rem;
		letter-spacing: 0;

		&:hover {
			transform: none;
		}
	}

	&:hover {
		box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.3);
		transform: translateY(0.5px);
	}

	&:active {
		box-shadow: none;
		text-shadow: none;
		transform: translateY(2px);
	}
}

[class*='btn-']:not([class*='btn-outline-']) {
	border: 0;
}

[class*='btn-outline-'] {
	box-shadow: none;

	&:hover {
		box-shadow: none;
	}

	&:active {
		box-shadow: none;
	}
}

// Icons
svg.icon {
	display: inline-block;
	height: 1em;
	width: 1em;
	line-height: 0;
	vertical-align: inherit;

	&.small {
		height: 0.9em;
		width: 0.9em;
	}
}

// Modals
.modal-title {
	font-weight: 500;
}
